version:  '3.2'

services:

  key-value:
    image: "redis"
    networks:
      - nosql
    ports:
      - 6379:6379

  column:
    image: "cassandra"
    networks:
      - nosql
    environment:
      JVM_OPTS: -Xms512m -Xmx512m
    ports:
      - 9042:9042

  document:
    image: "mongo:latest"
    networks:
      - nosql
    ports:
      - 27017:27017

  graph:
    image: "neo4j"
    networks:
      - nosql
    environment:
      NEO4J_dbms_memory_heap_max__size: 512m
      NEO4J_AUTH: neo4j/admin
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - "$HOME/neo4j/data:/data"

networks:
  nosql:
